/* Réinitialisation du CSS */
body,
h1,
h2,
p,
ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #90e96f !important;
    color: #333;
}

header {
    background-color: #3E65FF;
    color: #fff;
    padding: 10px;
    text-align: center;
}

header h1 {
    font-size: 24px;
}

main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #69F0C3;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 100px;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #3E65FF !important;
}

ul {
    list-style: none;
}

footer {
    background-color: #3E65FF;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Styles pour les liens */
a {
    color: #0066cc;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline;
    color: azure !important;
}

/* Styles responsives */
@media only screen and (max-width: 600px) {
    main {
        padding: 10px;
    }
}

/* Navbar styles */
.navbar {
    background-color: #55D8D9;
    list-style: none;
    padding: 10px 0;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
}

.navbar li {
    display: inline;
    margin-right: 15px;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

/* bouton route /capture */

.btn-capture {
    display: inline-block;
    padding: 10px 15px;
    background-color: #3E65FF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 20px; 
}
